<div class="chart-area">
  <div class="chart-container">
    <canvas
    baseChart
    [labels]="doughnutChartLabels"
      [datasets]="doughnutChartDatasets"
      [options]="doughnutChartOptions"
      [legend]="true"
      [type]="'doughnut'"
    >
    </canvas>
    <div class="legend-container">
      <app-amount-line [amount]="salaryAmount" [color]="'rgb(102,102,102)'"></app-amount-line>
      <hr>
      <app-amount-line [amount]="totalExpensesAmount" [color]="'rgb(102,102,102)'"></app-amount-line>
      <br>
      <span class="percentage-amount">({{((totalExpensesAmount/salaryAmount)*100).toFixed(2)}}%)</span>
    </div>
  </div>

</div>
