<ion-header [translucent]="true">
  <app-salary-set
    *ngIf="salarySet | async;else salaryUndefined"
    [salary]="salary"
    (editBtnClick)="openSalaryModal()"
  ></app-salary-set>
  <ng-template #salaryUndefined>
    <app-salary-unset
      (addSalaryButtonClicked)="openSalaryModal()"
    ></app-salary-unset>
  </ng-template>
</ion-header>

<ion-content [fullscreen]="true">
  <app-expenses-set
    *ngIf="listData.length;else expensesUndefined"
    [listData]="listData"
    (onRemoveExpense)="removeItem($event)"
  ></app-expenses-set>
  <ng-template #expensesUndefined>
    <app-expenses-unset></app-expenses-unset>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openExpenseModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
