.salary-set-title {
  color: black;
  text-align: center;
  font-size: 15px;

  .highlight {
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
  }

  .symbol {
    font-size: 14px;
    margin-right: -2px;
  }
}
