<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Salary Info</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [disabled]="!isValidForm()"
          >Confirm</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="salaryForm">
      <ion-item>
        <ion-label position="stacked">Salary</ion-label>
        <ion-input
          type="number"
          inputmode="numeric"
          pattern="[0-9]+([.][0-9]+)?"
          formControlName="amount"
          placeholder="amount of salary"
        >
          <span class="symbol">{{ symbol }}</span>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Day of each month</ion-label>
        <ion-input
          type="number"
          inputmode="numeric"
          pattern="[0-9]*"
          formControlName="dayOfMonth"
          placeholder="when the salary is received"
        ></ion-input>
      </ion-item>
    </form>
  </ion-content>
  